@charset "utf-8";
html{
    font-siza: 62.5;/* 16px×62.5px = 10px*/
}

body{
    color: #333333;
    font-size: i.6rem;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Arial;

}

img{
    max-width: 100%;
    height: auto;
}



/* class */

.hero-image{
    position: relative;
}



.hero-image__text{
position: absolute;
top: 50%;
left: 50%;
transform: translate3d(-50%,-50%,0);

}

.hero-image__text2{
    font-family:'ヒラギノ角ゴ ProN W6';
    font-size: 48pt;
    font-weight: bold;
    color:#fff;
}

.hero-image__text3{
    font-size: 32px;
    font-weight: normal;
    color:#fff;
    padding-top: 40px;    
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    margin: 0 0 86px;
}

.list-image{
    max-width: 200px;
    height: auto;;
    margin-left: 50px;
}
.nav-list{
    display: flex;
}

.nav-item{
    margin: 2px 10px;
    display: flex;
    margin: 0 20px ;

}


/* about */
.about-title{
    margin: 0 0 24px;
}

.about-1{
    width: 700px;
    margin: auto;
    }

.site-about{
    color: #FFD61A;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 24px;
}
.site-font{
    text-align:  center;
}
.site-about2{
    margin: 0 0 64px;
}


.site-about3{
    margin: 0 0 32px;
    text-align: center;
    white-space: nowrap;
}
.site-about4{
    margin: 0 0  5px;
}
.site-about5{
    margin: 0 0  32px;
}
.site-about6{
    margin: 0 0 32px;
}
.site-about7{
    margin: 0 0 5px;
}
.site-about8{
    margin: 0 0 64px;
}


.main-list{
    display: flex;
}
.main-image{
    width: 100%;
    height: auto;
}

/* course */


.course-1{
    width: 560px;
    margin: auto;
}

.site-course{
        color: #FFD61A;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin: 0 0 24px;
    }

.course-main{
    display: flex;
}
.course-image{
    width: 50%;
    height: auto;

}
.course-sentence{
    width: 50%;
    hight: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.courese-title{

}
.course-title2

/* news */

.site-news{
    color: #FFD61A;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 24px;
    }

.site-news2{
    color: #333333;
    font-size: 24spx;
    font-weight: bold;
    text-align: center;
}

.section_name{
    font-size: 16pt;
    font-weight: bold;
    padding-top: 24px;
    padding-left:16px;
    padding-right: 188px;
    padding-bottom: 24px;
}
.section_name2{
    font-size: 16pt;
    font-weight: normal;
    padding-top: 24px;
    padding-left:16px;
    padding-right: 188px;
    padding-bottom: 24px;
}
.news-botom{
    margin-top: 40px;
    text-align: center;
}

.news-botom2{
    display: inline-block;
    width: 264px;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: #FFD61A;  
    color:#FFFFFF;
    /* padding-left: 61px;
    padding-right: 61px; */
}

.news-list{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.news-card{
    min-width: 33.333%;
    margin: 2px 10px;
}

/* access */

.site-access{
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 24px;
}

.access-wrapper{
    width: 560px;
    margin: auto;
    text-align: center;
    }



.gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}
.gmap iframe{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

/* section */

.site-contact{
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 24px;
}
.access-wrapper{
    width: 560px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
}
.access-title{
    width: 152px;
    text-align: right;
    margin: 0 20px 0 0;
}
.access-answer{
    width: 388px;
    text-align-last: left;
}


.contacts{width:660px}

.form-wrapper{
    width: 660px;
    margin: auto;
    text-align: center;
}
.form-wrapper2{
    width: 900px;
    margin: auto;
}

.form-inner{
    display: flex;
    flex-wrap: wrap;
}

.form-title{
    width: 252px;
    font-weight:bold;
    text-align: right;
    margin:0 24px 0 0;

}

.form-item{
    width: 408px;
    height: 40px;
    margin: 0 0 24px;
}
.form-item2{
    display: block;
    line-height: 2;
}
.form-item.check-radio{
    padding: 0 0 100px;

}

/* footer */

.footer {
    padding: 24px,0;
    background-color: #707070;
    text-align: center;
}

.copyrights{
    color: #fff;
    align-items: center;
}

